%button
  = link_to "New Event", new_event_path
%table.table
  %thead
    %tr
      %th Date
      %th Location
      %th Description
      %th Capacity
      %th Requires id?
  %tbody
    - @events.each do |event|
      %tr
        %td=event.date
        %td=event.location
        %td=event.description
        %td=event.capacity
        %td=event.requires_id
        %td=link_to "Show", event_path(event)
        %td=link_to "Edit", edit_event_path(event)
