%h1= @event.description
%p
  %strong Location:
  %span= @event.location
%p
  %strong Capacity:
  %span= @event.capacity
%p
  %strong Requires id?:
  %span= @event.requires_id

=link_to "All Events", events_path
